# Visual Studio
*.vs/*

# Visual Studio Code
*.vscode/*

# Python
*__pycache__*
*.pyc
.ipynb_checkpoints*

# Zipped
*.tar.gz

# Temp
*tmp_models/

#Results
benchmark_results/
benchmark_results_cluster/
ns_credentials*/
configs.json
results.json
outputs/
jobs.txt
.pylintrc
*worker_logs*

# Build
*build/
*autoPyTorch.egg-info
*.simg
.DS_Store
dist/

# Meta GPU
*meta_logs/
runs.log
runs.log.lock
logs/

# ensemble data
predictions_for_ensemble.npy
test_predictions_for_ensemble.npy

# testing
tests.ipynb

# venv
env/
venv/

#PyCharm
.idea/