absl-py==0.12.0
cachetools==4.2.1
catboost==0.25.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cloudpickle==1.6.0
ConfigSpace==0.4.18
cycler==0.10.0
Cython==0.29.23
dask==2021.4.1
decorator==4.4.2
distributed==2021.4.1
filelock==3.0.12
flaky==3.7.0
fsspec==2021.4.0
gdown==3.13.0
google-auth==1.30.0
google-auth-oauthlib==0.4.4
graphviz==0.16
grpcio==1.37.0
HeapDict==1.0.1
idna==2.10
imageio==2.9.0
imgaug==0.4.0
joblib==1.0.1
kiwisolver==1.3.1
lazy-import==0.2.2
liac-arff==2.5.0
lightgbm==3.2.1
locket==0.2.1
lockfile==0.12.2
Markdown==3.3.4
matplotlib==3.4.1
minio==7.0.3
msgpack==1.0.2
networkx==2.5.1
numpy<1.23
oauthlib==3.1.0
opencv-python==4.5.1.48
openml==0.12.1
pandas==1.5.2
partd==1.2.0
Pillow==8.2.0
plotly==4.14.3
protobuf==3.15.8
pynisher==0.6.4
pyrfr==0.8.2
scikit-image==0.18.1
scikit-learn==0.24.1
scipy==1.6.3
smac==0.13.1
tabulate==0.8.9
tensorboard==2.5.0
tensorboard-data-server==0.6.0
tensorboard-plugin-wit==1.8.0
torch==1.8.1
torchvision==0.9.1
tqdm==4.62.2
typing-extensions==3.7.4.3
