setuptools
Cython==0.29.21
netifaces==0.10.9
numpy==1.19.5
pandas==1.2.0
scipy==1.6.0
statsmodels==0.12.1
scikit-learn==0.23.0
imbalanced-learn==0.7.0
imblearn==0.0
ConfigSpace==0.4.17
pynisher==0.6.3
hpbandster==0.7.4
fasteners==0.16
torch==1.7.1
torchvision==0.8.2
tensorboard-logger==0.1.0
openml==0.11.0
lightgbm==3.1.1
catboost==0.24.4
pexpect==4.8.0
